<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Actividad id -->
		<div class="form-group actividades-actividad_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Actividad id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(actividad_id)%%></div>
			</div>
		</div>
		<!-- Field: Referencia -->
		<div class="form-group actividades-referencia" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Referencia</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(referencia)%%></div>
			</div>
		</div>
		<!-- Field: Usuario id -->
		<div class="form-group actividades-usuario_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Usuario id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(usuario_id)%%></div>
			</div>
		</div>
		<!-- Field: Cliente id -->
		<div class="form-group actividades-cliente_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cliente id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cliente_id)%%></div>
			</div>
		</div>
		<!-- Field: Asunto -->
		<div class="form-group actividades-asunto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Asunto</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(asunto)%%></div>
			</div>
		</div>
		<!-- Field: Tipo actividad id -->
		<div class="form-group actividades-tipo_actividad_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo actividad id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(tipo_actividad_id)%%></div>
			</div>
		</div>
		<!-- Field: Modalidad contacto id -->
		<div class="form-group actividades-modalidad_contacto_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Modalidad contacto id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(modalidad_contacto_id)%%></div>
			</div>
		</div>
		<!-- Field: Fecha -->
		<div class="form-group actividades-fecha" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha)%%></div>
			</div>
		</div>
		<!-- Field: Hora inicio -->
		<div class="form-group actividades-hora_inicio" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Hora inicio</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(hora_inicio)%%></div>
			</div>
		</div>
		<!-- Field: Hora fin -->
		<div class="form-group actividades-hora_fin" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Hora fin</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(hora_fin)%%></div>
			</div>
		</div>
		<!-- Field: Duracion minutos -->
		<div class="form-group actividades-duracion_minutos" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Duracion minutos</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(duracion_minutos)%%></div>
			</div>
		</div>
		<!-- Field: Prioridad id -->
		<div class="form-group actividades-prioridad_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Prioridad id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(prioridad_id)%%></div>
			</div>
		</div>
		<!-- Field: Estado id -->
		<div class="form-group actividades-estado_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(estado_id)%%></div>
			</div>
		</div>
		<!-- Field: Descripcion -->
		<div class="form-group actividades-descripcion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Descripcion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(descripcion)%%></div>
			</div>
		</div>
		<!-- Field: Resultado -->
		<div class="form-group actividades-resultado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Resultado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(resultado)%%></div>
			</div>
		</div>
		<!-- Field: Fecha creacion -->
		<div class="form-group actividades-fecha_creacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha creacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fecha_creacion)%%></div>
			</div>
		</div>
		<!-- Field: Fecha modificacion -->
		<div class="form-group actividades-fecha_modificacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha modificacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fecha_modificacion)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
