<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the actividades_init() hook (in hooks/actividades.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="actividades-actividad_id-<%%VALUE(actividad_id)%%>" class="actividades-actividad_id"><%%SELECT%%><%%VALUE(actividad_id)%%><%%ENDSELECT%%></td>
		<td id="actividades-referencia-<%%VALUE(actividad_id)%%>" class="actividades-referencia"><%%SELECT%%><%%VALUE(referencia)%%><%%ENDSELECT%%></td>
		<td id="actividades-usuario_id-<%%VALUE(actividad_id)%%>" class="actividades-usuario_id"><%%SELECT%%><%%VALUE(usuario_id)%%><%%ENDSELECT%%></td>
		<td id="actividades-cliente_id-<%%VALUE(actividad_id)%%>" class="actividades-cliente_id"><%%SELECT%%><%%VALUE(cliente_id)%%><%%ENDSELECT%%></td>
		<td id="actividades-asunto-<%%VALUE(actividad_id)%%>" class="actividades-asunto"><%%SELECT%%><%%VALUE(asunto)%%><%%ENDSELECT%%></td>
		<td id="actividades-tipo_actividad_id-<%%VALUE(actividad_id)%%>" class="actividades-tipo_actividad_id text-right"><%%SELECT%%><%%VALUE(tipo_actividad_id)%%><%%ENDSELECT%%></td>
		<td id="actividades-modalidad_contacto_id-<%%VALUE(actividad_id)%%>" class="actividades-modalidad_contacto_id text-right"><%%SELECT%%><%%VALUE(modalidad_contacto_id)%%><%%ENDSELECT%%></td>
		<td id="actividades-fecha-<%%VALUE(actividad_id)%%>" class="actividades-fecha"><%%SELECT%%><%%VALUE(fecha)%%><%%ENDSELECT%%></td>
		<td id="actividades-hora_inicio-<%%VALUE(actividad_id)%%>" class="actividades-hora_inicio"><%%SELECT%%><%%VALUE(hora_inicio)%%><%%ENDSELECT%%></td>
		<td id="actividades-hora_fin-<%%VALUE(actividad_id)%%>" class="actividades-hora_fin"><%%SELECT%%><%%VALUE(hora_fin)%%><%%ENDSELECT%%></td>
		<td id="actividades-duracion_minutos-<%%VALUE(actividad_id)%%>" class="actividades-duracion_minutos text-right"><%%SELECT%%><%%VALUE(duracion_minutos)%%><%%ENDSELECT%%></td>
		<td id="actividades-prioridad_id-<%%VALUE(actividad_id)%%>" class="actividades-prioridad_id text-right"><%%SELECT%%><%%VALUE(prioridad_id)%%><%%ENDSELECT%%></td>
		<td id="actividades-estado_id-<%%VALUE(actividad_id)%%>" class="actividades-estado_id text-right"><%%SELECT%%><%%VALUE(estado_id)%%><%%ENDSELECT%%></td>
		<td id="actividades-descripcion-<%%VALUE(actividad_id)%%>" class="actividades-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
		<td id="actividades-resultado-<%%VALUE(actividad_id)%%>" class="actividades-resultado"><%%SELECT%%><%%VALUE(resultado)%%><%%ENDSELECT%%></td>
		<td id="actividades-fecha_creacion-<%%VALUE(actividad_id)%%>" class="actividades-fecha_creacion"><%%SELECT%%><%%VALUE(fecha_creacion)%%><%%ENDSELECT%%></td>
		<td id="actividades-fecha_modificacion-<%%VALUE(actividad_id)%%>" class="actividades-fecha_modificacion"><%%SELECT%%><%%VALUE(fecha_modificacion)%%><%%ENDSELECT%%></td>
