<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the actividades_init() hook (in hooks/actividades.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="actividades-actividad_id-<%%VALUE(actividad_id)%%>" class="actividades-actividad_id text-bold"><%%VALUE(actividad_id)%%></td>
		<td id="actividades-referencia-<%%VALUE(actividad_id)%%>" class="actividades-referencia text-bold"><%%VALUE(referencia)%%></td>
		<td id="actividades-usuario_id-<%%VALUE(actividad_id)%%>" class="actividades-usuario_id text-bold"><%%VALUE(usuario_id)%%></td>
		<td id="actividades-cliente_id-<%%VALUE(actividad_id)%%>" class="actividades-cliente_id text-bold"><%%VALUE(cliente_id)%%></td>
		<td id="actividades-asunto-<%%VALUE(actividad_id)%%>" class="actividades-asunto text-bold"><%%VALUE(asunto)%%></td>
		<td id="actividades-tipo_actividad_id-<%%VALUE(actividad_id)%%>" class="actividades-tipo_actividad_id text-right text-bold"><%%VALUE(tipo_actividad_id)%%></td>
		<td id="actividades-modalidad_contacto_id-<%%VALUE(actividad_id)%%>" class="actividades-modalidad_contacto_id text-right text-bold"><%%VALUE(modalidad_contacto_id)%%></td>
		<td id="actividades-fecha-<%%VALUE(actividad_id)%%>" class="actividades-fecha text-bold"><%%VALUE(fecha)%%></td>
		<td id="actividades-hora_inicio-<%%VALUE(actividad_id)%%>" class="actividades-hora_inicio text-bold"><%%VALUE(hora_inicio)%%></td>
		<td id="actividades-hora_fin-<%%VALUE(actividad_id)%%>" class="actividades-hora_fin text-bold"><%%VALUE(hora_fin)%%></td>
		<td id="actividades-duracion_minutos-<%%VALUE(actividad_id)%%>" class="actividades-duracion_minutos text-right text-bold"><%%VALUE(duracion_minutos)%%></td>
		<td id="actividades-prioridad_id-<%%VALUE(actividad_id)%%>" class="actividades-prioridad_id text-right text-bold"><%%VALUE(prioridad_id)%%></td>
		<td id="actividades-estado_id-<%%VALUE(actividad_id)%%>" class="actividades-estado_id text-right text-bold"><%%VALUE(estado_id)%%></td>
		<td id="actividades-descripcion-<%%VALUE(actividad_id)%%>" class="actividades-descripcion text-bold"><%%VALUE(descripcion)%%></td>
		<td id="actividades-resultado-<%%VALUE(actividad_id)%%>" class="actividades-resultado text-bold"><%%VALUE(resultado)%%></td>
		<td id="actividades-fecha_creacion-<%%VALUE(actividad_id)%%>" class="actividades-fecha_creacion text-bold"><%%VALUE(fecha_creacion)%%></td>
		<td id="actividades-fecha_modificacion-<%%VALUE(actividad_id)%%>" class="actividades-fecha_modificacion text-bold"><%%VALUE(fecha_modificacion)%%></td>
