<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Agencia id -->
		<div class="form-group agencias-agencia_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Agencia id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(agencia_id)%%></div>
			</div>
		</div>
		<!-- Field: Nombre -->
		<div class="form-group agencias-nombre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre)%%></div>
			</div>
		</div>
		<!-- Field: Direccion -->
		<div class="form-group agencias-direccion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Direccion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(direccion)%%></div>
			</div>
		</div>
		<!-- Field: Codigo postal -->
		<div class="form-group agencias-codigo_postal" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Codigo postal</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(codigo_postal)%%></div>
			</div>
		</div>
		<!-- Field: Localidad -->
		<div class="form-group agencias-localidad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Localidad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(localidad)%%></div>
			</div>
		</div>
		<!-- Field: Provincia -->
		<div class="form-group agencias-provincia" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Provincia</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(provincia)%%></div>
			</div>
		</div>
		<!-- Field: Telefono -->
		<div class="form-group agencias-telefono" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Telefono</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(telefono)%%></div>
			</div>
		</div>
		<!-- Field: Email -->
		<div class="form-group agencias-email" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Email</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(email)%%></div>
			</div>
		</div>
		<!-- Field: Responsable id -->
		<div class="form-group agencias-responsable_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Responsable id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(responsable_id)%%></div>
			</div>
		</div>
		<!-- Field: Fecha alta -->
		<div class="form-group agencias-fecha_alta" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha alta</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_alta)%%></div>
			</div>
		</div>
		<!-- Field: Activo -->
		<div class="form-group agencias-activo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Activo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(activo)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
