<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the clientes_init() hook (in hooks/clientes.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="clientes-cliente_id-<%%VALUE(cliente_id)%%>" class="clientes-cliente_id text-bold"><%%VALUE(cliente_id)%%></td>
		<td id="clientes-nombre-<%%VALUE(cliente_id)%%>" class="clientes-nombre text-bold"><%%VALUE(nombre)%%></td>
		<td id="clientes-apellidos-<%%VALUE(cliente_id)%%>" class="clientes-apellidos text-bold"><%%VALUE(apellidos)%%></td>
		<td id="clientes-nombre_completo-<%%VALUE(cliente_id)%%>" class="clientes-nombre_completo text-bold"><%%VALUE(nombre_completo)%%></td>
		<td id="clientes-tratamiento-<%%VALUE(cliente_id)%%>" class="clientes-tratamiento text-bold"><%%VALUE(tratamiento)%%></td>
		<td id="clientes-genero-<%%VALUE(cliente_id)%%>" class="clientes-genero text-bold"><%%VALUE(genero)%%></td>
		<td id="clientes-fecha_nacimiento-<%%VALUE(cliente_id)%%>" class="clientes-fecha_nacimiento text-bold"><%%VALUE(fecha_nacimiento)%%></td>
		<td id="clientes-documento_id-<%%VALUE(cliente_id)%%>" class="clientes-documento_id text-bold"><%%VALUE(documento_id)%%></td>
		<td id="clientes-nacionalidad-<%%VALUE(cliente_id)%%>" class="clientes-nacionalidad text-bold"><%%VALUE(nacionalidad)%%></td>
		<td id="clientes-estado_civil-<%%VALUE(cliente_id)%%>" class="clientes-estado_civil text-bold"><%%VALUE(estado_civil)%%></td>
		<td id="clientes-telefono_fijo-<%%VALUE(cliente_id)%%>" class="clientes-telefono_fijo text-bold"><%%VALUE(telefono_fijo)%%></td>
		<td id="clientes-telefono_movil-<%%VALUE(cliente_id)%%>" class="clientes-telefono_movil text-bold"><%%VALUE(telefono_movil)%%></td>
		<td id="clientes-telefono_adicional-<%%VALUE(cliente_id)%%>" class="clientes-telefono_adicional text-bold"><%%VALUE(telefono_adicional)%%></td>
		<td id="clientes-email-<%%VALUE(cliente_id)%%>" class="clientes-email text-bold"><%%VALUE(email)%%></td>
		<td id="clientes-cliente_telefonico-<%%VALUE(cliente_id)%%>" class="clientes-cliente_telefonico text-right text-bold"><%%VALUE(cliente_telefonico)%%></td>
		<td id="clientes-profesion-<%%VALUE(cliente_id)%%>" class="clientes-profesion text-bold"><%%VALUE(profesion)%%></td>
		<td id="clientes-sector_actividad-<%%VALUE(cliente_id)%%>" class="clientes-sector_actividad text-bold"><%%VALUE(sector_actividad)%%></td>
		<td id="clientes-empresa-<%%VALUE(cliente_id)%%>" class="clientes-empresa text-bold"><%%VALUE(empresa)%%></td>
		<td id="clientes-fecha_alta-<%%VALUE(cliente_id)%%>" class="clientes-fecha_alta text-bold"><%%VALUE(fecha_alta)%%></td>
		<td id="clientes-ultima_modificacion-<%%VALUE(cliente_id)%%>" class="clientes-ultima_modificacion text-bold"><%%VALUE(ultima_modificacion)%%></td>
		<td id="clientes-agencia_id-<%%VALUE(cliente_id)%%>" class="clientes-agencia_id text-bold"><%%VALUE(agencia_id)%%></td>
		<td id="clientes-usuario_id-<%%VALUE(cliente_id)%%>" class="clientes-usuario_id text-bold"><%%VALUE(usuario_id)%%></td>
		<td id="clientes-observaciones-<%%VALUE(cliente_id)%%>" class="clientes-observaciones text-bold"><%%VALUE(observaciones)%%></td>
