<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Cliente id -->
		<div class="form-group clientes-cliente_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cliente id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cliente_id)%%></div>
			</div>
		</div>
		<!-- Field: Nombre -->
		<div class="form-group clientes-nombre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre)%%></div>
			</div>
		</div>
		<!-- Field: Apellidos -->
		<div class="form-group clientes-apellidos" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Apellidos</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(apellidos)%%></div>
			</div>
		</div>
		<!-- Field: Nombre completo -->
		<div class="form-group clientes-nombre_completo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre completo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre_completo)%%></div>
			</div>
		</div>
		<!-- Field: Tratamiento -->
		<div class="form-group clientes-tratamiento" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tratamiento</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(tratamiento)%%></div>
			</div>
		</div>
		<!-- Field: Genero -->
		<div class="form-group clientes-genero" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Genero</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(genero)%%></div>
			</div>
		</div>
		<!-- Field: Fecha nacimiento -->
		<div class="form-group clientes-fecha_nacimiento" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha nacimiento</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_nacimiento)%%></div>
			</div>
		</div>
		<!-- Field: Documento id -->
		<div class="form-group clientes-documento_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Documento id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(documento_id)%%></div>
			</div>
		</div>
		<!-- Field: Nacionalidad -->
		<div class="form-group clientes-nacionalidad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nacionalidad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nacionalidad)%%></div>
			</div>
		</div>
		<!-- Field: Estado civil -->
		<div class="form-group clientes-estado_civil" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado civil</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(estado_civil)%%></div>
			</div>
		</div>
		<!-- Field: Telefono fijo -->
		<div class="form-group clientes-telefono_fijo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Telefono fijo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(telefono_fijo)%%></div>
			</div>
		</div>
		<!-- Field: Telefono movil -->
		<div class="form-group clientes-telefono_movil" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Telefono movil</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(telefono_movil)%%></div>
			</div>
		</div>
		<!-- Field: Telefono adicional -->
		<div class="form-group clientes-telefono_adicional" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Telefono adicional</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(telefono_adicional)%%></div>
			</div>
		</div>
		<!-- Field: Email -->
		<div class="form-group clientes-email" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Email</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(email)%%></div>
			</div>
		</div>
		<!-- Field: Cliente telefonico -->
		<div class="form-group clientes-cliente_telefonico" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cliente telefonico</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cliente_telefonico)%%></div>
			</div>
		</div>
		<!-- Field: Profesion -->
		<div class="form-group clientes-profesion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Profesion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(profesion)%%></div>
			</div>
		</div>
		<!-- Field: Sector actividad -->
		<div class="form-group clientes-sector_actividad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Sector actividad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(sector_actividad)%%></div>
			</div>
		</div>
		<!-- Field: Empresa -->
		<div class="form-group clientes-empresa" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Empresa</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(empresa)%%></div>
			</div>
		</div>
		<!-- Field: Fecha alta -->
		<div class="form-group clientes-fecha_alta" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha alta</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_alta)%%></div>
			</div>
		</div>
		<!-- Field: Ultima modificacion -->
		<div class="form-group clientes-ultima_modificacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ultima modificacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ultima_modificacion)%%></div>
			</div>
		</div>
		<!-- Field: Agencia id -->
		<div class="form-group clientes-agencia_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Agencia id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(agencia_id)%%></div>
			</div>
		</div>
		<!-- Field: Usuario id -->
		<div class="form-group clientes-usuario_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Usuario id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(usuario_id)%%></div>
			</div>
		</div>
		<!-- Field: Observaciones -->
		<div class="form-group clientes-observaciones" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Observaciones</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(observaciones)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
