<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the detalles_procedencia_init() hook (in hooks/detalles_procedencia.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="detalles_procedencia-detalle_procedencia_id-<%%VALUE(detalle_procedencia_id)%%>" class="detalles_procedencia-detalle_procedencia_id text-right text-bold"><%%VALUE(detalle_procedencia_id)%%></td>
		<td id="detalles_procedencia-tipo_procedencia_id-<%%VALUE(detalle_procedencia_id)%%>" class="detalles_procedencia-tipo_procedencia_id text-right text-bold"><%%VALUE(tipo_procedencia_id)%%></td>
		<td id="detalles_procedencia-nombre-<%%VALUE(detalle_procedencia_id)%%>" class="detalles_procedencia-nombre text-bold"><%%VALUE(nombre)%%></td>
		<td id="detalles_procedencia-descripcion-<%%VALUE(detalle_procedencia_id)%%>" class="detalles_procedencia-descripcion text-bold"><%%VALUE(descripcion)%%></td>
