<!-- To change the layout of the detail view form, we recommend using JS code in hooks/direcciones-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="direcciones_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="direcciones_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="direcciones_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Direccion id -->
				<div class="form-group direcciones-direccion_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Direccion id</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="direccion_id"><%%VALUE(direccion_id)%%></div>
					</div>
				</div>

				<!-- Field: Cliente id -->
				<div class="form-group direcciones-cliente_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="cliente_id">Cliente id</label>
					<div class="col-lg-9">
						<input maxlength="20" type="text" class="form-control" name="cliente_id" id="cliente_id" value="<%%VALUE(cliente_id)%%>">
					</div>
				</div>

				<!-- Field: Inmueble id -->
				<div class="form-group direcciones-inmueble_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="inmueble_id">Inmueble id</label>
					<div class="col-lg-9">
						<input maxlength="20" type="text" class="form-control" name="inmueble_id" id="inmueble_id" value="<%%VALUE(inmueble_id)%%>">
					</div>
				</div>

				<!-- Field: Tipo direccion -->
				<div class="form-group direcciones-tipo_direccion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tipo_direccion">Tipo direccion<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(tipo_direccion)%%>
					</div>
				</div>

				<!-- Field: Calle -->
				<div class="form-group direcciones-calle">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="calle">Calle<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="100" type="text" class="form-control" name="calle" id="calle" value="<%%VALUE(calle)%%>" required>
					</div>
				</div>

				<!-- Field: Numero -->
				<div class="form-group direcciones-numero">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="numero">Numero</label>
					<div class="col-lg-9">
						<input maxlength="10" type="text" class="form-control" name="numero" id="numero" value="<%%VALUE(numero)%%>">
					</div>
				</div>

				<!-- Field: Piso -->
				<div class="form-group direcciones-piso">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="piso">Piso</label>
					<div class="col-lg-9">
						<input maxlength="10" type="text" class="form-control" name="piso" id="piso" value="<%%VALUE(piso)%%>">
					</div>
				</div>

				<!-- Field: Puerta -->
				<div class="form-group direcciones-puerta">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="puerta">Puerta</label>
					<div class="col-lg-9">
						<input maxlength="10" type="text" class="form-control" name="puerta" id="puerta" value="<%%VALUE(puerta)%%>">
					</div>
				</div>

				<!-- Field: Escalera -->
				<div class="form-group direcciones-escalera">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="escalera">Escalera</label>
					<div class="col-lg-9">
						<input maxlength="10" type="text" class="form-control" name="escalera" id="escalera" value="<%%VALUE(escalera)%%>">
					</div>
				</div>

				<!-- Field: Codigo postal -->
				<div class="form-group direcciones-codigo_postal">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="codigo_postal">Codigo postal</label>
					<div class="col-lg-9">
						<input maxlength="10" type="text" class="form-control" name="codigo_postal" id="codigo_postal" value="<%%VALUE(codigo_postal)%%>">
					</div>
				</div>

				<!-- Field: Localidad -->
				<div class="form-group direcciones-localidad">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="localidad">Localidad<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="localidad" id="localidad" value="<%%VALUE(localidad)%%>" required>
					</div>
				</div>

				<!-- Field: Provincia -->
				<div class="form-group direcciones-provincia">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="provincia">Provincia<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="provincia" id="provincia" value="<%%VALUE(provincia)%%>" required>
					</div>
				</div>

				<!-- Field: Pais -->
				<div class="form-group direcciones-pais">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="pais">Pais</label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="pais" id="pais" value="<%%VALUE(pais)%%>">
					</div>
				</div>

				<!-- Field: Referencia catastral -->
				<div class="form-group direcciones-referencia_catastral">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="referencia_catastral">Referencia catastral</label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="referencia_catastral" id="referencia_catastral" value="<%%VALUE(referencia_catastral)%%>">
					</div>
				</div>

				<!-- Field: Coordenadas latitud -->
				<div class="form-group direcciones-coordenadas_latitud">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="coordenadas_latitud">Coordenadas latitud</label>
					<div class="col-lg-9">
						<input maxlength="12" type="text" class="form-control" name="coordenadas_latitud" id="coordenadas_latitud" value="<%%VALUE(coordenadas_latitud)%%>">
					</div>
				</div>

				<!-- Field: Coordenadas longitud -->
				<div class="form-group direcciones-coordenadas_longitud">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="coordenadas_longitud">Coordenadas longitud</label>
					<div class="col-lg-9">
						<input maxlength="13" type="text" class="form-control" name="coordenadas_longitud" id="coordenadas_longitud" value="<%%VALUE(coordenadas_longitud)%%>">
					</div>
				</div>

				<!-- Field: Principal -->
				<div class="form-group direcciones-principal">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="principal">Principal</label>
					<div class="col-lg-9">
						<input maxlength="4" type="text" class="form-control" name="principal" id="principal" value="<%%VALUE(principal)%%>">
					</div>
				</div>

				<!-- Field: Fecha alta -->
				<div class="form-group direcciones-fecha_alta">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Fecha alta</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="fecha_alta"><%%VALUE(fecha_alta)%%></div>
					</div>
				</div>

				<!-- Field: Ultima modificacion -->
				<div class="form-group direcciones-ultima_modificacion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Ultima modificacion</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="ultima_modificacion"><%%VALUE(ultima_modificacion)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="direcciones_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#direcciones_dv_container-loading').addClass('hidden');
			$j('#direcciones_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('direcciones', 'cliente_id');

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'direcciones',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});

			direccionesUniqueFields.forEach(fieldName => enforce_uniqueness('direcciones', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=direcciones&id=<%%URLVALUE(direccion_id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=direcciones&id=<%%URLVALUE(direccion_id)%%>');
					}
				);
			}
		});

		var direccionesUniqueFields = [
		];
	</script>