<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the direcciones_init() hook (in hooks/direcciones.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="direcciones-direccion_id-<%%VALUE(direccion_id)%%>" class="direcciones-direccion_id text-right"><%%SELECT%%><%%VALUE(direccion_id)%%><%%ENDSELECT%%></td>
		<td id="direcciones-cliente_id-<%%VALUE(direccion_id)%%>" class="direcciones-cliente_id"><%%SELECT%%><%%VALUE(cliente_id)%%><%%ENDSELECT%%></td>
		<td id="direcciones-inmueble_id-<%%VALUE(direccion_id)%%>" class="direcciones-inmueble_id"><%%SELECT%%><%%VALUE(inmueble_id)%%><%%ENDSELECT%%></td>
		<td id="direcciones-tipo_direccion-<%%VALUE(direccion_id)%%>" class="direcciones-tipo_direccion"><%%SELECT%%><%%VALUE(tipo_direccion)%%><%%ENDSELECT%%></td>
		<td id="direcciones-calle-<%%VALUE(direccion_id)%%>" class="direcciones-calle"><%%SELECT%%><%%VALUE(calle)%%><%%ENDSELECT%%></td>
		<td id="direcciones-numero-<%%VALUE(direccion_id)%%>" class="direcciones-numero"><%%SELECT%%><%%VALUE(numero)%%><%%ENDSELECT%%></td>
		<td id="direcciones-piso-<%%VALUE(direccion_id)%%>" class="direcciones-piso"><%%SELECT%%><%%VALUE(piso)%%><%%ENDSELECT%%></td>
		<td id="direcciones-puerta-<%%VALUE(direccion_id)%%>" class="direcciones-puerta"><%%SELECT%%><%%VALUE(puerta)%%><%%ENDSELECT%%></td>
		<td id="direcciones-escalera-<%%VALUE(direccion_id)%%>" class="direcciones-escalera"><%%SELECT%%><%%VALUE(escalera)%%><%%ENDSELECT%%></td>
		<td id="direcciones-codigo_postal-<%%VALUE(direccion_id)%%>" class="direcciones-codigo_postal"><%%SELECT%%><%%VALUE(codigo_postal)%%><%%ENDSELECT%%></td>
		<td id="direcciones-localidad-<%%VALUE(direccion_id)%%>" class="direcciones-localidad"><%%SELECT%%><%%VALUE(localidad)%%><%%ENDSELECT%%></td>
		<td id="direcciones-provincia-<%%VALUE(direccion_id)%%>" class="direcciones-provincia"><%%SELECT%%><%%VALUE(provincia)%%><%%ENDSELECT%%></td>
		<td id="direcciones-pais-<%%VALUE(direccion_id)%%>" class="direcciones-pais"><%%SELECT%%><%%VALUE(pais)%%><%%ENDSELECT%%></td>
		<td id="direcciones-referencia_catastral-<%%VALUE(direccion_id)%%>" class="direcciones-referencia_catastral"><%%SELECT%%><%%VALUE(referencia_catastral)%%><%%ENDSELECT%%></td>
		<td id="direcciones-coordenadas_latitud-<%%VALUE(direccion_id)%%>" class="direcciones-coordenadas_latitud text-right"><%%SELECT%%><%%VALUE(coordenadas_latitud)%%><%%ENDSELECT%%></td>
		<td id="direcciones-coordenadas_longitud-<%%VALUE(direccion_id)%%>" class="direcciones-coordenadas_longitud text-right"><%%SELECT%%><%%VALUE(coordenadas_longitud)%%><%%ENDSELECT%%></td>
		<td id="direcciones-principal-<%%VALUE(direccion_id)%%>" class="direcciones-principal text-right"><%%SELECT%%><%%VALUE(principal)%%><%%ENDSELECT%%></td>
		<td id="direcciones-fecha_alta-<%%VALUE(direccion_id)%%>" class="direcciones-fecha_alta"><%%SELECT%%><%%VALUE(fecha_alta)%%><%%ENDSELECT%%></td>
		<td id="direcciones-ultima_modificacion-<%%VALUE(direccion_id)%%>" class="direcciones-ultima_modificacion"><%%SELECT%%><%%VALUE(ultima_modificacion)%%><%%ENDSELECT%%></td>
