<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Encargo id -->
		<div class="form-group encargos-encargo_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Encargo id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(encargo_id)%%></div>
			</div>
		</div>
		<!-- Field: Referencia -->
		<div class="form-group encargos-referencia" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Referencia</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(referencia)%%></div>
			</div>
		</div>
		<!-- Field: Inmueble id -->
		<div class="form-group encargos-inmueble_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Inmueble id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(inmueble_id)%%></div>
			</div>
		</div>
		<!-- Field: Propietario id -->
		<div class="form-group encargos-propietario_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Propietario id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(propietario_id)%%></div>
			</div>
		</div>
		<!-- Field: Estado id -->
		<div class="form-group encargos-estado_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(estado_id)%%></div>
			</div>
		</div>
		<!-- Field: Estado contacto id -->
		<div class="form-group encargos-estado_contacto_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado contacto id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(estado_contacto_id)%%></div>
			</div>
		</div>
		<!-- Field: Motivo -->
		<div class="form-group encargos-motivo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Motivo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(motivo)%%></div>
			</div>
		</div>
		<!-- Field: Tipo procedencia id -->
		<div class="form-group encargos-tipo_procedencia_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo procedencia id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(tipo_procedencia_id)%%></div>
			</div>
		</div>
		<!-- Field: Precio -->
		<div class="form-group encargos-precio" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Precio</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(precio)%%></div>
			</div>
		</div>
		<!-- Field: Precio parking incluido -->
		<div class="form-group encargos-precio_parking_incluido" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Precio parking incluido</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(precio_parking_incluido)%%></div>
			</div>
		</div>
		<!-- Field: Valoracion -->
		<div class="form-group encargos-valoracion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Valoracion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(valoracion)%%></div>
			</div>
		</div>
		<!-- Field: Valoracion solo inmueble -->
		<div class="form-group encargos-valoracion_solo_inmueble" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Valoracion solo inmueble</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(valoracion_solo_inmueble)%%></div>
			</div>
		</div>
		<!-- Field: Nuda propiedad -->
		<div class="form-group encargos-nuda_propiedad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nuda propiedad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nuda_propiedad)%%></div>
			</div>
		</div>
		<!-- Field: Tratabilidad -->
		<div class="form-group encargos-tratabilidad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tratabilidad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(tratabilidad)%%></div>
			</div>
		</div>
		<!-- Field: Fecha creacion -->
		<div class="form-group encargos-fecha_creacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha creacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fecha_creacion)%%></div>
			</div>
		</div>
		<!-- Field: Fecha modificacion -->
		<div class="form-group encargos-fecha_modificacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha modificacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fecha_modificacion)%%></div>
			</div>
		</div>
		<!-- Field: Fecha cierre -->
		<div class="form-group encargos-fecha_cierre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha cierre</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_cierre)%%></div>
			</div>
		</div>
		<!-- Field: Motivo cierre id -->
		<div class="form-group encargos-motivo_cierre_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Motivo cierre id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(motivo_cierre_id)%%></div>
			</div>
		</div>
		<!-- Field: Fecha ultima cita -->
		<div class="form-group encargos-fecha_ultima_cita" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha ultima cita</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_ultima_cita)%%></div>
			</div>
		</div>
		<!-- Field: Fecha ultima actividad -->
		<div class="form-group encargos-fecha_ultima_actividad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha ultima actividad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_ultima_actividad)%%></div>
			</div>
		</div>
		<!-- Field: Fecha ultimo contacto -->
		<div class="form-group encargos-fecha_ultimo_contacto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha ultimo contacto</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_ultimo_contacto)%%></div>
			</div>
		</div>
		<!-- Field: Nota privada -->
		<div class="form-group encargos-nota_privada" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nota privada</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nota_privada)%%></div>
			</div>
		</div>
		<!-- Field: Llaves oficina -->
		<div class="form-group encargos-llaves_oficina" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Llaves oficina</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(llaves_oficina)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
