<!-- To change the layout of the detail view form, we recommend using JS code in hooks/encargos-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="encargos_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="encargos_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="encargos_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Encargo id -->
				<div class="form-group encargos-encargo_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="encargo_id">Encargo id<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="20" type="text" class="form-control" name="encargo_id" id="encargo_id" value="<%%VALUE(encargo_id)%%>" required><div class="text-danger vspacer-md" id="encargo_id-uniqueness-note" style="display: none;"><%%TRANSLATION(unique field error)%%></div>
					</div>
				</div>

				<!-- Field: Referencia -->
				<div class="form-group encargos-referencia">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="referencia">Referencia</label>
					<div class="col-lg-9">
						<input maxlength="30" type="text" class="form-control" name="referencia" id="referencia" value="<%%VALUE(referencia)%%>">
					</div>
				</div>

				<!-- Field: Inmueble id -->
				<div class="form-group encargos-inmueble_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="inmueble_id">Inmueble id<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="20" type="text" class="form-control" name="inmueble_id" id="inmueble_id" value="<%%VALUE(inmueble_id)%%>" required>
					</div>
				</div>

				<!-- Field: Propietario id -->
				<div class="form-group encargos-propietario_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="propietario_id">Propietario id<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="20" type="text" class="form-control" name="propietario_id" id="propietario_id" value="<%%VALUE(propietario_id)%%>" required>
					</div>
				</div>

				<!-- Field: Estado id -->
				<div class="form-group encargos-estado_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="estado_id">Estado id<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="estado_id" id="estado_id" value="<%%VALUE(estado_id)%%>" required>
					</div>
				</div>

				<!-- Field: Estado contacto id -->
				<div class="form-group encargos-estado_contacto_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="estado_contacto_id">Estado contacto id</label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="estado_contacto_id" id="estado_contacto_id" value="<%%VALUE(estado_contacto_id)%%>">
					</div>
				</div>

				<!-- Field: Motivo -->
				<div class="form-group encargos-motivo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="motivo">Motivo<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="motivo" id="motivo" value="<%%VALUE(motivo)%%>" required>
					</div>
				</div>

				<!-- Field: Tipo procedencia id -->
				<div class="form-group encargos-tipo_procedencia_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tipo_procedencia_id">Tipo procedencia id</label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="tipo_procedencia_id" id="tipo_procedencia_id" value="<%%VALUE(tipo_procedencia_id)%%>">
					</div>
				</div>

				<!-- Field: Precio -->
				<div class="form-group encargos-precio">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="precio">Precio<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="14" type="text" class="form-control" name="precio" id="precio" value="<%%VALUE(precio)%%>" required>
					</div>
				</div>

				<!-- Field: Precio parking incluido -->
				<div class="form-group encargos-precio_parking_incluido">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="precio_parking_incluido">Precio parking incluido</label>
					<div class="col-lg-9">
						<input maxlength="4" type="text" class="form-control" name="precio_parking_incluido" id="precio_parking_incluido" value="<%%VALUE(precio_parking_incluido)%%>">
					</div>
				</div>

				<!-- Field: Valoracion -->
				<div class="form-group encargos-valoracion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="valoracion">Valoracion</label>
					<div class="col-lg-9">
						<input maxlength="14" type="text" class="form-control" name="valoracion" id="valoracion" value="<%%VALUE(valoracion)%%>">
					</div>
				</div>

				<!-- Field: Valoracion solo inmueble -->
				<div class="form-group encargos-valoracion_solo_inmueble">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="valoracion_solo_inmueble">Valoracion solo inmueble</label>
					<div class="col-lg-9">
						<input maxlength="14" type="text" class="form-control" name="valoracion_solo_inmueble" id="valoracion_solo_inmueble" value="<%%VALUE(valoracion_solo_inmueble)%%>">
					</div>
				</div>

				<!-- Field: Nuda propiedad -->
				<div class="form-group encargos-nuda_propiedad">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="nuda_propiedad">Nuda propiedad</label>
					<div class="col-lg-9">
						<input maxlength="4" type="text" class="form-control" name="nuda_propiedad" id="nuda_propiedad" value="<%%VALUE(nuda_propiedad)%%>">
					</div>
				</div>

				<!-- Field: Tratabilidad -->
				<div class="form-group encargos-tratabilidad">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tratabilidad">Tratabilidad</label>
					<div class="col-lg-9">
						<input maxlength="4" type="text" class="form-control" name="tratabilidad" id="tratabilidad" value="<%%VALUE(tratabilidad)%%>">
					</div>
				</div>

				<!-- Field: Fecha creacion -->
				<div class="form-group encargos-fecha_creacion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Fecha creacion</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="fecha_creacion"><%%VALUE(fecha_creacion)%%></div>
					</div>
				</div>

				<!-- Field: Fecha modificacion -->
				<div class="form-group encargos-fecha_modificacion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Fecha modificacion</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="fecha_modificacion"><%%VALUE(fecha_modificacion)%%></div>
					</div>
				</div>

				<!-- Field: Fecha cierre -->
				<div class="form-group encargos-fecha_cierre">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="fecha_cierre-dd">Fecha cierre</label>
					<div class="col-lg-9">
						<%%COMBO(fecha_cierre)%%>
					</div>
				</div>

				<!-- Field: Motivo cierre id -->
				<div class="form-group encargos-motivo_cierre_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="motivo_cierre_id">Motivo cierre id</label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="motivo_cierre_id" id="motivo_cierre_id" value="<%%VALUE(motivo_cierre_id)%%>">
					</div>
				</div>

				<!-- Field: Fecha ultima cita -->
				<div class="form-group encargos-fecha_ultima_cita">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="fecha_ultima_cita-dd">Fecha ultima cita</label>
					<div class="col-lg-9">
						<%%COMBO(fecha_ultima_cita)%%>
					</div>
				</div>

				<!-- Field: Fecha ultima actividad -->
				<div class="form-group encargos-fecha_ultima_actividad">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="fecha_ultima_actividad-dd">Fecha ultima actividad</label>
					<div class="col-lg-9">
						<%%COMBO(fecha_ultima_actividad)%%>
					</div>
				</div>

				<!-- Field: Fecha ultimo contacto -->
				<div class="form-group encargos-fecha_ultimo_contacto">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="fecha_ultimo_contacto-dd">Fecha ultimo contacto</label>
					<div class="col-lg-9">
						<%%COMBO(fecha_ultimo_contacto)%%>
					</div>
				</div>

				<!-- Field: Nota privada -->
				<div class="form-group encargos-nota_privada">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="nota_privada">Nota privada</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="nota_privada" id="nota_privada" rows=" 5"><%%VALUE(nota_privada)%%></textarea>
					</div>
				</div>

				<!-- Field: Llaves oficina -->
				<div class="form-group encargos-llaves_oficina">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="llaves_oficina">Llaves oficina</label>
					<div class="col-lg-9">
						<input maxlength="4" type="text" class="form-control" name="llaves_oficina" id="llaves_oficina" value="<%%VALUE(llaves_oficina)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="encargos_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#encargos_dv_container-loading').addClass('hidden');
			$j('#encargos_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('encargos', 'encargo_id');

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'encargos',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});

			encargosUniqueFields.forEach(fieldName => enforce_uniqueness('encargos', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=encargos&id=<%%URLVALUE(encargo_id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=encargos&id=<%%URLVALUE(encargo_id)%%>');
					}
				);
			}
		});

		var encargosUniqueFields = [
			'encargo_id',
		];
	</script>