<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the estados_noticia_init() hook (in hooks/estados_noticia.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="estados_noticia-estado_noticia_id-<%%VALUE(estado_noticia_id)%%>" class="estados_noticia-estado_noticia_id text-right text-bold"><%%VALUE(estado_noticia_id)%%></td>
		<td id="estados_noticia-nombre-<%%VALUE(estado_noticia_id)%%>" class="estados_noticia-nombre text-bold"><%%VALUE(nombre)%%></td>
		<td id="estados_noticia-descripcion-<%%VALUE(estado_noticia_id)%%>" class="estados_noticia-descripcion text-bold"><%%VALUE(descripcion)%%></td>
		<td id="estados_noticia-orden-<%%VALUE(estado_noticia_id)%%>" class="estados_noticia-orden text-right text-bold"><%%VALUE(orden)%%></td>
		<td id="estados_noticia-color-<%%VALUE(estado_noticia_id)%%>" class="estados_noticia-color text-bold"><%%VALUE(color)%%></td>
