<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the estados_contacto_init() hook (in hooks/estados_contacto.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="estados_contacto-estado_contacto_id-<%%VALUE(estado_contacto_id)%%>" class="estados_contacto-estado_contacto_id text-right"><%%SELECT%%><%%VALUE(estado_contacto_id)%%><%%ENDSELECT%%></td>
		<td id="estados_contacto-nombre-<%%VALUE(estado_contacto_id)%%>" class="estados_contacto-nombre"><%%SELECT%%><%%VALUE(nombre)%%><%%ENDSELECT%%></td>
		<td id="estados_contacto-descripcion-<%%VALUE(estado_contacto_id)%%>" class="estados_contacto-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
		<td id="estados_contacto-dias_inactividad_min-<%%VALUE(estado_contacto_id)%%>" class="estados_contacto-dias_inactividad_min text-right"><%%SELECT%%><%%VALUE(dias_inactividad_min)%%><%%ENDSELECT%%></td>
		<td id="estados_contacto-dias_inactividad_max-<%%VALUE(estado_contacto_id)%%>" class="estados_contacto-dias_inactividad_max text-right"><%%SELECT%%><%%VALUE(dias_inactividad_max)%%><%%ENDSELECT%%></td>
		<td id="estados_contacto-orden-<%%VALUE(estado_contacto_id)%%>" class="estados_contacto-orden text-right"><%%SELECT%%><%%VALUE(orden)%%><%%ENDSELECT%%></td>
		<td id="estados_contacto-color-<%%VALUE(estado_contacto_id)%%>" class="estados_contacto-color"><%%SELECT%%><%%VALUE(color)%%><%%ENDSELECT%%></td>
