<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the inmuebles_init() hook (in hooks/inmuebles.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="inmuebles-inmueble_id-<%%VALUE(inmueble_id)%%>" class="inmuebles-inmueble_id"><%%SELECT%%><%%VALUE(inmueble_id)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-referencia-<%%VALUE(inmueble_id)%%>" class="inmuebles-referencia"><%%SELECT%%><%%VALUE(referencia)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-propietario_id-<%%VALUE(inmueble_id)%%>" class="inmuebles-propietario_id"><%%SELECT%%><%%VALUE(propietario_id)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-estado-<%%VALUE(inmueble_id)%%>" class="inmuebles-estado"><%%SELECT%%><%%VALUE(estado)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-tipologia_id-<%%VALUE(inmueble_id)%%>" class="inmuebles-tipologia_id text-right"><%%SELECT%%><%%VALUE(tipologia_id)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-subtipologia_id-<%%VALUE(inmueble_id)%%>" class="inmuebles-subtipologia_id text-right"><%%SELECT%%><%%VALUE(subtipologia_id)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-direccion_id-<%%VALUE(inmueble_id)%%>" class="inmuebles-direccion_id text-right"><%%SELECT%%><%%VALUE(direccion_id)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-zona_id-<%%VALUE(inmueble_id)%%>" class="inmuebles-zona_id text-right"><%%SELECT%%><%%VALUE(zona_id)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-dormitorios-<%%VALUE(inmueble_id)%%>" class="inmuebles-dormitorios text-right"><%%SELECT%%><%%VALUE(dormitorios)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-banos-<%%VALUE(inmueble_id)%%>" class="inmuebles-banos text-right"><%%SELECT%%><%%VALUE(banos)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-aseos-<%%VALUE(inmueble_id)%%>" class="inmuebles-aseos text-right"><%%SELECT%%><%%VALUE(aseos)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-m2_utiles-<%%VALUE(inmueble_id)%%>" class="inmuebles-m2_utiles text-right"><%%SELECT%%><%%VALUE(m2_utiles)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-m2_construidos-<%%VALUE(inmueble_id)%%>" class="inmuebles-m2_construidos text-right"><%%SELECT%%><%%VALUE(m2_construidos)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-m2_terraza-<%%VALUE(inmueble_id)%%>" class="inmuebles-m2_terraza text-right"><%%SELECT%%><%%VALUE(m2_terraza)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-altura-<%%VALUE(inmueble_id)%%>" class="inmuebles-altura"><%%SELECT%%><%%VALUE(altura)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-orientacion-<%%VALUE(inmueble_id)%%>" class="inmuebles-orientacion"><%%SELECT%%><%%VALUE(orientacion)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-estado_conservacion-<%%VALUE(inmueble_id)%%>" class="inmuebles-estado_conservacion"><%%SELECT%%><%%VALUE(estado_conservacion)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-ano_construccion-<%%VALUE(inmueble_id)%%>" class="inmuebles-ano_construccion text-right"><%%SELECT%%><%%VALUE(ano_construccion)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-ano_reforma-<%%VALUE(inmueble_id)%%>" class="inmuebles-ano_reforma text-right"><%%SELECT%%><%%VALUE(ano_reforma)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-ascensor-<%%VALUE(inmueble_id)%%>" class="inmuebles-ascensor text-right"><%%SELECT%%><%%VALUE(ascensor)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-terraza-<%%VALUE(inmueble_id)%%>" class="inmuebles-terraza text-right"><%%SELECT%%><%%VALUE(terraza)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-balcon-<%%VALUE(inmueble_id)%%>" class="inmuebles-balcon text-right"><%%SELECT%%><%%VALUE(balcon)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-garaje-<%%VALUE(inmueble_id)%%>" class="inmuebles-garaje text-right"><%%SELECT%%><%%VALUE(garaje)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-trastero-<%%VALUE(inmueble_id)%%>" class="inmuebles-trastero text-right"><%%SELECT%%><%%VALUE(trastero)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-calefaccion_tipo-<%%VALUE(inmueble_id)%%>" class="inmuebles-calefaccion_tipo"><%%SELECT%%><%%VALUE(calefaccion_tipo)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-climatizacion-<%%VALUE(inmueble_id)%%>" class="inmuebles-climatizacion"><%%SELECT%%><%%VALUE(climatizacion)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-certificado_energetico-<%%VALUE(inmueble_id)%%>" class="inmuebles-certificado_energetico"><%%SELECT%%><%%VALUE(certificado_energetico)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-consumo_energetico-<%%VALUE(inmueble_id)%%>" class="inmuebles-consumo_energetico text-right"><%%SELECT%%><%%VALUE(consumo_energetico)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-emisiones_co2-<%%VALUE(inmueble_id)%%>" class="inmuebles-emisiones_co2 text-right"><%%SELECT%%><%%VALUE(emisiones_co2)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-referencia_catastral-<%%VALUE(inmueble_id)%%>" class="inmuebles-referencia_catastral"><%%SELECT%%><%%VALUE(referencia_catastral)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-fecha_alta-<%%VALUE(inmueble_id)%%>" class="inmuebles-fecha_alta"><%%SELECT%%><%%VALUE(fecha_alta)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-ultima_modificacion-<%%VALUE(inmueble_id)%%>" class="inmuebles-ultima_modificacion"><%%SELECT%%><%%VALUE(ultima_modificacion)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-llaves_oficina-<%%VALUE(inmueble_id)%%>" class="inmuebles-llaves_oficina text-right"><%%SELECT%%><%%VALUE(llaves_oficina)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-notas_privadas-<%%VALUE(inmueble_id)%%>" class="inmuebles-notas_privadas"><%%SELECT%%><%%VALUE(notas_privadas)%%><%%ENDSELECT%%></td>
		<td id="inmuebles-observaciones-<%%VALUE(inmueble_id)%%>" class="inmuebles-observaciones"><%%SELECT%%><%%VALUE(observaciones)%%><%%ENDSELECT%%></td>
