<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Inmueble id -->
		<div class="form-group inmuebles-inmueble_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Inmueble id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(inmueble_id)%%></div>
			</div>
		</div>
		<!-- Field: Referencia -->
		<div class="form-group inmuebles-referencia" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Referencia</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(referencia)%%></div>
			</div>
		</div>
		<!-- Field: Propietario id -->
		<div class="form-group inmuebles-propietario_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Propietario id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(propietario_id)%%></div>
			</div>
		</div>
		<!-- Field: Estado -->
		<div class="form-group inmuebles-estado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(estado)%%></div>
			</div>
		</div>
		<!-- Field: Tipologia id -->
		<div class="form-group inmuebles-tipologia_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipologia id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(tipologia_id)%%></div>
			</div>
		</div>
		<!-- Field: Subtipologia id -->
		<div class="form-group inmuebles-subtipologia_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Subtipologia id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(subtipologia_id)%%></div>
			</div>
		</div>
		<!-- Field: Direccion id -->
		<div class="form-group inmuebles-direccion_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Direccion id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(direccion_id)%%></div>
			</div>
		</div>
		<!-- Field: Zona id -->
		<div class="form-group inmuebles-zona_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Zona id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(zona_id)%%></div>
			</div>
		</div>
		<!-- Field: Dormitorios -->
		<div class="form-group inmuebles-dormitorios" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Dormitorios</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(dormitorios)%%></div>
			</div>
		</div>
		<!-- Field: Banos -->
		<div class="form-group inmuebles-banos" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Banos</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(banos)%%></div>
			</div>
		</div>
		<!-- Field: Aseos -->
		<div class="form-group inmuebles-aseos" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Aseos</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(aseos)%%></div>
			</div>
		</div>
		<!-- Field: M2 utiles -->
		<div class="form-group inmuebles-m2_utiles" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">M2 utiles</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(m2_utiles)%%></div>
			</div>
		</div>
		<!-- Field: M2 construidos -->
		<div class="form-group inmuebles-m2_construidos" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">M2 construidos</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(m2_construidos)%%></div>
			</div>
		</div>
		<!-- Field: M2 terraza -->
		<div class="form-group inmuebles-m2_terraza" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">M2 terraza</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(m2_terraza)%%></div>
			</div>
		</div>
		<!-- Field: Altura -->
		<div class="form-group inmuebles-altura" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Altura</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(altura)%%></div>
			</div>
		</div>
		<!-- Field: Orientacion -->
		<div class="form-group inmuebles-orientacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Orientacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(orientacion)%%></div>
			</div>
		</div>
		<!-- Field: Estado conservacion -->
		<div class="form-group inmuebles-estado_conservacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado conservacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(estado_conservacion)%%></div>
			</div>
		</div>
		<!-- Field: Ano construccion -->
		<div class="form-group inmuebles-ano_construccion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ano construccion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ano_construccion)%%></div>
			</div>
		</div>
		<!-- Field: Ano reforma -->
		<div class="form-group inmuebles-ano_reforma" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ano reforma</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ano_reforma)%%></div>
			</div>
		</div>
		<!-- Field: Ascensor -->
		<div class="form-group inmuebles-ascensor" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ascensor</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ascensor)%%></div>
			</div>
		</div>
		<!-- Field: Terraza -->
		<div class="form-group inmuebles-terraza" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Terraza</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(terraza)%%></div>
			</div>
		</div>
		<!-- Field: Balcon -->
		<div class="form-group inmuebles-balcon" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Balcon</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(balcon)%%></div>
			</div>
		</div>
		<!-- Field: Garaje -->
		<div class="form-group inmuebles-garaje" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Garaje</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(garaje)%%></div>
			</div>
		</div>
		<!-- Field: Trastero -->
		<div class="form-group inmuebles-trastero" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Trastero</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(trastero)%%></div>
			</div>
		</div>
		<!-- Field: Calefaccion tipo -->
		<div class="form-group inmuebles-calefaccion_tipo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Calefaccion tipo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(calefaccion_tipo)%%></div>
			</div>
		</div>
		<!-- Field: Climatizacion -->
		<div class="form-group inmuebles-climatizacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Climatizacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(climatizacion)%%></div>
			</div>
		</div>
		<!-- Field: Certificado energetico -->
		<div class="form-group inmuebles-certificado_energetico" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Certificado energetico</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(certificado_energetico)%%></div>
			</div>
		</div>
		<!-- Field: Consumo energetico -->
		<div class="form-group inmuebles-consumo_energetico" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Consumo energetico</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(consumo_energetico)%%></div>
			</div>
		</div>
		<!-- Field: Emisiones co2 -->
		<div class="form-group inmuebles-emisiones_co2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Emisiones co2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(emisiones_co2)%%></div>
			</div>
		</div>
		<!-- Field: Referencia catastral -->
		<div class="form-group inmuebles-referencia_catastral" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Referencia catastral</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(referencia_catastral)%%></div>
			</div>
		</div>
		<!-- Field: Fecha alta -->
		<div class="form-group inmuebles-fecha_alta" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha alta</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fecha_alta)%%></div>
			</div>
		</div>
		<!-- Field: Ultima modificacion -->
		<div class="form-group inmuebles-ultima_modificacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ultima modificacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ultima_modificacion)%%></div>
			</div>
		</div>
		<!-- Field: Llaves oficina -->
		<div class="form-group inmuebles-llaves_oficina" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Llaves oficina</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(llaves_oficina)%%></div>
			</div>
		</div>
		<!-- Field: Notas privadas -->
		<div class="form-group inmuebles-notas_privadas" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Notas privadas</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(notas_privadas)%%></div>
			</div>
		</div>
		<!-- Field: Observaciones -->
		<div class="form-group inmuebles-observaciones" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Observaciones</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(observaciones)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
