<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the inmuebles_init() hook (in hooks/inmuebles.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="inmuebles-inmueble_id-<%%VALUE(inmueble_id)%%>" class="inmuebles-inmueble_id text-bold"><%%VALUE(inmueble_id)%%></td>
		<td id="inmuebles-referencia-<%%VALUE(inmueble_id)%%>" class="inmuebles-referencia text-bold"><%%VALUE(referencia)%%></td>
		<td id="inmuebles-propietario_id-<%%VALUE(inmueble_id)%%>" class="inmuebles-propietario_id text-bold"><%%VALUE(propietario_id)%%></td>
		<td id="inmuebles-estado-<%%VALUE(inmueble_id)%%>" class="inmuebles-estado text-bold"><%%VALUE(estado)%%></td>
		<td id="inmuebles-tipologia_id-<%%VALUE(inmueble_id)%%>" class="inmuebles-tipologia_id text-right text-bold"><%%VALUE(tipologia_id)%%></td>
		<td id="inmuebles-subtipologia_id-<%%VALUE(inmueble_id)%%>" class="inmuebles-subtipologia_id text-right text-bold"><%%VALUE(subtipologia_id)%%></td>
		<td id="inmuebles-direccion_id-<%%VALUE(inmueble_id)%%>" class="inmuebles-direccion_id text-right text-bold"><%%VALUE(direccion_id)%%></td>
		<td id="inmuebles-zona_id-<%%VALUE(inmueble_id)%%>" class="inmuebles-zona_id text-right text-bold"><%%VALUE(zona_id)%%></td>
		<td id="inmuebles-dormitorios-<%%VALUE(inmueble_id)%%>" class="inmuebles-dormitorios text-right text-bold"><%%VALUE(dormitorios)%%></td>
		<td id="inmuebles-banos-<%%VALUE(inmueble_id)%%>" class="inmuebles-banos text-right text-bold"><%%VALUE(banos)%%></td>
		<td id="inmuebles-aseos-<%%VALUE(inmueble_id)%%>" class="inmuebles-aseos text-right text-bold"><%%VALUE(aseos)%%></td>
		<td id="inmuebles-m2_utiles-<%%VALUE(inmueble_id)%%>" class="inmuebles-m2_utiles text-right text-bold"><%%VALUE(m2_utiles)%%></td>
		<td id="inmuebles-m2_construidos-<%%VALUE(inmueble_id)%%>" class="inmuebles-m2_construidos text-right text-bold"><%%VALUE(m2_construidos)%%></td>
		<td id="inmuebles-m2_terraza-<%%VALUE(inmueble_id)%%>" class="inmuebles-m2_terraza text-right text-bold"><%%VALUE(m2_terraza)%%></td>
		<td id="inmuebles-altura-<%%VALUE(inmueble_id)%%>" class="inmuebles-altura text-bold"><%%VALUE(altura)%%></td>
		<td id="inmuebles-orientacion-<%%VALUE(inmueble_id)%%>" class="inmuebles-orientacion text-bold"><%%VALUE(orientacion)%%></td>
		<td id="inmuebles-estado_conservacion-<%%VALUE(inmueble_id)%%>" class="inmuebles-estado_conservacion text-bold"><%%VALUE(estado_conservacion)%%></td>
		<td id="inmuebles-ano_construccion-<%%VALUE(inmueble_id)%%>" class="inmuebles-ano_construccion text-right text-bold"><%%VALUE(ano_construccion)%%></td>
		<td id="inmuebles-ano_reforma-<%%VALUE(inmueble_id)%%>" class="inmuebles-ano_reforma text-right text-bold"><%%VALUE(ano_reforma)%%></td>
		<td id="inmuebles-ascensor-<%%VALUE(inmueble_id)%%>" class="inmuebles-ascensor text-right text-bold"><%%VALUE(ascensor)%%></td>
		<td id="inmuebles-terraza-<%%VALUE(inmueble_id)%%>" class="inmuebles-terraza text-right text-bold"><%%VALUE(terraza)%%></td>
		<td id="inmuebles-balcon-<%%VALUE(inmueble_id)%%>" class="inmuebles-balcon text-right text-bold"><%%VALUE(balcon)%%></td>
		<td id="inmuebles-garaje-<%%VALUE(inmueble_id)%%>" class="inmuebles-garaje text-right text-bold"><%%VALUE(garaje)%%></td>
		<td id="inmuebles-trastero-<%%VALUE(inmueble_id)%%>" class="inmuebles-trastero text-right text-bold"><%%VALUE(trastero)%%></td>
		<td id="inmuebles-calefaccion_tipo-<%%VALUE(inmueble_id)%%>" class="inmuebles-calefaccion_tipo text-bold"><%%VALUE(calefaccion_tipo)%%></td>
		<td id="inmuebles-climatizacion-<%%VALUE(inmueble_id)%%>" class="inmuebles-climatizacion text-bold"><%%VALUE(climatizacion)%%></td>
		<td id="inmuebles-certificado_energetico-<%%VALUE(inmueble_id)%%>" class="inmuebles-certificado_energetico text-bold"><%%VALUE(certificado_energetico)%%></td>
		<td id="inmuebles-consumo_energetico-<%%VALUE(inmueble_id)%%>" class="inmuebles-consumo_energetico text-right text-bold"><%%VALUE(consumo_energetico)%%></td>
		<td id="inmuebles-emisiones_co2-<%%VALUE(inmueble_id)%%>" class="inmuebles-emisiones_co2 text-right text-bold"><%%VALUE(emisiones_co2)%%></td>
		<td id="inmuebles-referencia_catastral-<%%VALUE(inmueble_id)%%>" class="inmuebles-referencia_catastral text-bold"><%%VALUE(referencia_catastral)%%></td>
		<td id="inmuebles-fecha_alta-<%%VALUE(inmueble_id)%%>" class="inmuebles-fecha_alta text-bold"><%%VALUE(fecha_alta)%%></td>
		<td id="inmuebles-ultima_modificacion-<%%VALUE(inmueble_id)%%>" class="inmuebles-ultima_modificacion text-bold"><%%VALUE(ultima_modificacion)%%></td>
		<td id="inmuebles-llaves_oficina-<%%VALUE(inmueble_id)%%>" class="inmuebles-llaves_oficina text-right text-bold"><%%VALUE(llaves_oficina)%%></td>
		<td id="inmuebles-notas_privadas-<%%VALUE(inmueble_id)%%>" class="inmuebles-notas_privadas text-bold"><%%VALUE(notas_privadas)%%></td>
		<td id="inmuebles-observaciones-<%%VALUE(inmueble_id)%%>" class="inmuebles-observaciones text-bold"><%%VALUE(observaciones)%%></td>
