<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the modalidades_contacto_init() hook (in hooks/modalidades_contacto.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="modalidades_contacto-modalidad_contacto_id-<%%VALUE(modalidad_contacto_id)%%>" class="modalidades_contacto-modalidad_contacto_id text-right text-bold"><%%VALUE(modalidad_contacto_id)%%></td>
		<td id="modalidades_contacto-nombre-<%%VALUE(modalidad_contacto_id)%%>" class="modalidades_contacto-nombre text-bold"><%%VALUE(nombre)%%></td>
		<td id="modalidades_contacto-descripcion-<%%VALUE(modalidad_contacto_id)%%>" class="modalidades_contacto-descripcion text-bold"><%%VALUE(descripcion)%%></td>
