<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the noticias_init() hook (in hooks/noticias.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="noticias-noticia_id-<%%VALUE(noticia_id)%%>" class="noticias-noticia_id text-bold"><%%VALUE(noticia_id)%%></td>
		<td id="noticias-referencia-<%%VALUE(noticia_id)%%>" class="noticias-referencia text-bold"><%%VALUE(referencia)%%></td>
		<td id="noticias-inmueble_id-<%%VALUE(noticia_id)%%>" class="noticias-inmueble_id text-bold"><%%VALUE(inmueble_id)%%></td>
		<td id="noticias-cliente_id-<%%VALUE(noticia_id)%%>" class="noticias-cliente_id text-bold"><%%VALUE(cliente_id)%%></td>
		<td id="noticias-colaborador_id-<%%VALUE(noticia_id)%%>" class="noticias-colaborador_id text-bold"><%%VALUE(colaborador_id)%%></td>
		<td id="noticias-estado_noticia_id-<%%VALUE(noticia_id)%%>" class="noticias-estado_noticia_id text-right text-bold"><%%VALUE(estado_noticia_id)%%></td>
		<td id="noticias-estado_contacto_id-<%%VALUE(noticia_id)%%>" class="noticias-estado_contacto_id text-right text-bold"><%%VALUE(estado_contacto_id)%%></td>
		<td id="noticias-tipo_procedencia_id-<%%VALUE(noticia_id)%%>" class="noticias-tipo_procedencia_id text-right text-bold"><%%VALUE(tipo_procedencia_id)%%></td>
		<td id="noticias-detalle_procedencia_id-<%%VALUE(noticia_id)%%>" class="noticias-detalle_procedencia_id text-right text-bold"><%%VALUE(detalle_procedencia_id)%%></td>
		<td id="noticias-motivacion-<%%VALUE(noticia_id)%%>" class="noticias-motivacion text-bold"><%%VALUE(motivacion)%%></td>
		<td id="noticias-valoracion-<%%VALUE(noticia_id)%%>" class="noticias-valoracion text-right text-bold"><%%VALUE(valoracion)%%></td>
		<td id="noticias-valoracion_solo_inmueble-<%%VALUE(noticia_id)%%>" class="noticias-valoracion_solo_inmueble text-right text-bold"><%%VALUE(valoracion_solo_inmueble)%%></td>
		<td id="noticias-precio_pedido-<%%VALUE(noticia_id)%%>" class="noticias-precio_pedido text-right text-bold"><%%VALUE(precio_pedido)%%></td>
		<td id="noticias-fecha_valoracion-<%%VALUE(noticia_id)%%>" class="noticias-fecha_valoracion text-bold"><%%VALUE(fecha_valoracion)%%></td>
		<td id="noticias-fecha_estimacion_interna-<%%VALUE(noticia_id)%%>" class="noticias-fecha_estimacion_interna text-bold"><%%VALUE(fecha_estimacion_interna)%%></td>
		<td id="noticias-fecha_ultima_cita-<%%VALUE(noticia_id)%%>" class="noticias-fecha_ultima_cita text-bold"><%%VALUE(fecha_ultima_cita)%%></td>
		<td id="noticias-fecha_ultimo_contacto-<%%VALUE(noticia_id)%%>" class="noticias-fecha_ultimo_contacto text-bold"><%%VALUE(fecha_ultimo_contacto)%%></td>
		<td id="noticias-fecha_cierre-<%%VALUE(noticia_id)%%>" class="noticias-fecha_cierre text-bold"><%%VALUE(fecha_cierre)%%></td>
		<td id="noticias-motivo_cierre_id-<%%VALUE(noticia_id)%%>" class="noticias-motivo_cierre_id text-right text-bold"><%%VALUE(motivo_cierre_id)%%></td>
		<td id="noticias-nota-<%%VALUE(noticia_id)%%>" class="noticias-nota text-bold"><%%VALUE(nota)%%></td>
		<td id="noticias-fecha_creacion-<%%VALUE(noticia_id)%%>" class="noticias-fecha_creacion text-bold"><%%VALUE(fecha_creacion)%%></td>
		<td id="noticias-fecha_modificacion-<%%VALUE(noticia_id)%%>" class="noticias-fecha_modificacion text-bold"><%%VALUE(fecha_modificacion)%%></td>
