<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the noticias_init() hook (in hooks/noticias.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="noticias-noticia_id-<%%VALUE(noticia_id)%%>" class="noticias-noticia_id"><%%SELECT%%><%%VALUE(noticia_id)%%><%%ENDSELECT%%></td>
		<td id="noticias-referencia-<%%VALUE(noticia_id)%%>" class="noticias-referencia"><%%SELECT%%><%%VALUE(referencia)%%><%%ENDSELECT%%></td>
		<td id="noticias-inmueble_id-<%%VALUE(noticia_id)%%>" class="noticias-inmueble_id"><%%SELECT%%><%%VALUE(inmueble_id)%%><%%ENDSELECT%%></td>
		<td id="noticias-cliente_id-<%%VALUE(noticia_id)%%>" class="noticias-cliente_id"><%%SELECT%%><%%VALUE(cliente_id)%%><%%ENDSELECT%%></td>
		<td id="noticias-colaborador_id-<%%VALUE(noticia_id)%%>" class="noticias-colaborador_id"><%%SELECT%%><%%VALUE(colaborador_id)%%><%%ENDSELECT%%></td>
		<td id="noticias-estado_noticia_id-<%%VALUE(noticia_id)%%>" class="noticias-estado_noticia_id text-right"><%%SELECT%%><%%VALUE(estado_noticia_id)%%><%%ENDSELECT%%></td>
		<td id="noticias-estado_contacto_id-<%%VALUE(noticia_id)%%>" class="noticias-estado_contacto_id text-right"><%%SELECT%%><%%VALUE(estado_contacto_id)%%><%%ENDSELECT%%></td>
		<td id="noticias-tipo_procedencia_id-<%%VALUE(noticia_id)%%>" class="noticias-tipo_procedencia_id text-right"><%%SELECT%%><%%VALUE(tipo_procedencia_id)%%><%%ENDSELECT%%></td>
		<td id="noticias-detalle_procedencia_id-<%%VALUE(noticia_id)%%>" class="noticias-detalle_procedencia_id text-right"><%%SELECT%%><%%VALUE(detalle_procedencia_id)%%><%%ENDSELECT%%></td>
		<td id="noticias-motivacion-<%%VALUE(noticia_id)%%>" class="noticias-motivacion"><%%SELECT%%><%%VALUE(motivacion)%%><%%ENDSELECT%%></td>
		<td id="noticias-valoracion-<%%VALUE(noticia_id)%%>" class="noticias-valoracion text-right"><%%SELECT%%><%%VALUE(valoracion)%%><%%ENDSELECT%%></td>
		<td id="noticias-valoracion_solo_inmueble-<%%VALUE(noticia_id)%%>" class="noticias-valoracion_solo_inmueble text-right"><%%SELECT%%><%%VALUE(valoracion_solo_inmueble)%%><%%ENDSELECT%%></td>
		<td id="noticias-precio_pedido-<%%VALUE(noticia_id)%%>" class="noticias-precio_pedido text-right"><%%SELECT%%><%%VALUE(precio_pedido)%%><%%ENDSELECT%%></td>
		<td id="noticias-fecha_valoracion-<%%VALUE(noticia_id)%%>" class="noticias-fecha_valoracion"><%%SELECT%%><%%VALUE(fecha_valoracion)%%><%%ENDSELECT%%></td>
		<td id="noticias-fecha_estimacion_interna-<%%VALUE(noticia_id)%%>" class="noticias-fecha_estimacion_interna"><%%SELECT%%><%%VALUE(fecha_estimacion_interna)%%><%%ENDSELECT%%></td>
		<td id="noticias-fecha_ultima_cita-<%%VALUE(noticia_id)%%>" class="noticias-fecha_ultima_cita"><%%SELECT%%><%%VALUE(fecha_ultima_cita)%%><%%ENDSELECT%%></td>
		<td id="noticias-fecha_ultimo_contacto-<%%VALUE(noticia_id)%%>" class="noticias-fecha_ultimo_contacto"><%%SELECT%%><%%VALUE(fecha_ultimo_contacto)%%><%%ENDSELECT%%></td>
		<td id="noticias-fecha_cierre-<%%VALUE(noticia_id)%%>" class="noticias-fecha_cierre"><%%SELECT%%><%%VALUE(fecha_cierre)%%><%%ENDSELECT%%></td>
		<td id="noticias-motivo_cierre_id-<%%VALUE(noticia_id)%%>" class="noticias-motivo_cierre_id text-right"><%%SELECT%%><%%VALUE(motivo_cierre_id)%%><%%ENDSELECT%%></td>
		<td id="noticias-nota-<%%VALUE(noticia_id)%%>" class="noticias-nota"><%%SELECT%%><%%VALUE(nota)%%><%%ENDSELECT%%></td>
		<td id="noticias-fecha_creacion-<%%VALUE(noticia_id)%%>" class="noticias-fecha_creacion"><%%SELECT%%><%%VALUE(fecha_creacion)%%><%%ENDSELECT%%></td>
		<td id="noticias-fecha_modificacion-<%%VALUE(noticia_id)%%>" class="noticias-fecha_modificacion"><%%SELECT%%><%%VALUE(fecha_modificacion)%%><%%ENDSELECT%%></td>
