<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Noticia id -->
		<div class="form-group noticias-noticia_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Noticia id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(noticia_id)%%></div>
			</div>
		</div>
		<!-- Field: Referencia -->
		<div class="form-group noticias-referencia" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Referencia</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(referencia)%%></div>
			</div>
		</div>
		<!-- Field: Inmueble id -->
		<div class="form-group noticias-inmueble_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Inmueble id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(inmueble_id)%%></div>
			</div>
		</div>
		<!-- Field: Cliente id -->
		<div class="form-group noticias-cliente_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cliente id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cliente_id)%%></div>
			</div>
		</div>
		<!-- Field: Colaborador id -->
		<div class="form-group noticias-colaborador_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Colaborador id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(colaborador_id)%%></div>
			</div>
		</div>
		<!-- Field: Estado noticia id -->
		<div class="form-group noticias-estado_noticia_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado noticia id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(estado_noticia_id)%%></div>
			</div>
		</div>
		<!-- Field: Estado contacto id -->
		<div class="form-group noticias-estado_contacto_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado contacto id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(estado_contacto_id)%%></div>
			</div>
		</div>
		<!-- Field: Tipo procedencia id -->
		<div class="form-group noticias-tipo_procedencia_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo procedencia id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(tipo_procedencia_id)%%></div>
			</div>
		</div>
		<!-- Field: Detalle procedencia id -->
		<div class="form-group noticias-detalle_procedencia_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Detalle procedencia id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(detalle_procedencia_id)%%></div>
			</div>
		</div>
		<!-- Field: Motivacion -->
		<div class="form-group noticias-motivacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Motivacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(motivacion)%%></div>
			</div>
		</div>
		<!-- Field: Valoracion -->
		<div class="form-group noticias-valoracion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Valoracion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(valoracion)%%></div>
			</div>
		</div>
		<!-- Field: Valoracion solo inmueble -->
		<div class="form-group noticias-valoracion_solo_inmueble" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Valoracion solo inmueble</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(valoracion_solo_inmueble)%%></div>
			</div>
		</div>
		<!-- Field: Precio pedido -->
		<div class="form-group noticias-precio_pedido" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Precio pedido</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(precio_pedido)%%></div>
			</div>
		</div>
		<!-- Field: Fecha valoracion -->
		<div class="form-group noticias-fecha_valoracion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha valoracion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_valoracion)%%></div>
			</div>
		</div>
		<!-- Field: Fecha estimacion interna -->
		<div class="form-group noticias-fecha_estimacion_interna" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha estimacion interna</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_estimacion_interna)%%></div>
			</div>
		</div>
		<!-- Field: Fecha ultima cita -->
		<div class="form-group noticias-fecha_ultima_cita" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha ultima cita</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_ultima_cita)%%></div>
			</div>
		</div>
		<!-- Field: Fecha ultimo contacto -->
		<div class="form-group noticias-fecha_ultimo_contacto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha ultimo contacto</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_ultimo_contacto)%%></div>
			</div>
		</div>
		<!-- Field: Fecha cierre -->
		<div class="form-group noticias-fecha_cierre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha cierre</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_cierre)%%></div>
			</div>
		</div>
		<!-- Field: Motivo cierre id -->
		<div class="form-group noticias-motivo_cierre_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Motivo cierre id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(motivo_cierre_id)%%></div>
			</div>
		</div>
		<!-- Field: Nota -->
		<div class="form-group noticias-nota" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nota</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nota)%%></div>
			</div>
		</div>
		<!-- Field: Fecha creacion -->
		<div class="form-group noticias-fecha_creacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha creacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fecha_creacion)%%></div>
			</div>
		</div>
		<!-- Field: Fecha modificacion -->
		<div class="form-group noticias-fecha_modificacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha modificacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fecha_modificacion)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
