<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Usuario id -->
		<div class="form-group usuarios-usuario_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Usuario id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(usuario_id)%%></div>
			</div>
		</div>
		<!-- Field: Nombre -->
		<div class="form-group usuarios-nombre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre)%%></div>
			</div>
		</div>
		<!-- Field: Apellidos -->
		<div class="form-group usuarios-apellidos" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Apellidos</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(apellidos)%%></div>
			</div>
		</div>
		<!-- Field: Nombre completo -->
		<div class="form-group usuarios-nombre_completo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre completo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre_completo)%%></div>
			</div>
		</div>
		<!-- Field: Email -->
		<div class="form-group usuarios-email" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Email</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(email)%%></div>
			</div>
		</div>
		<!-- Field: Telefono -->
		<div class="form-group usuarios-telefono" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Telefono</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(telefono)%%></div>
			</div>
		</div>
		<!-- Field: Puesto -->
		<div class="form-group usuarios-puesto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Puesto</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(puesto)%%></div>
			</div>
		</div>
		<!-- Field: Agencia id -->
		<div class="form-group usuarios-agencia_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Agencia id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(agencia_id)%%></div>
			</div>
		</div>
		<!-- Field: Activo -->
		<div class="form-group usuarios-activo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Activo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(activo)%%></div>
			</div>
		</div>
		<!-- Field: Fecha alta -->
		<div class="form-group usuarios-fecha_alta" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha alta</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_alta)%%></div>
			</div>
		</div>
		<!-- Field: Ultima conexion -->
		<div class="form-group usuarios-ultima_conexion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ultima conexion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ultima_conexion)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
